<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <footer>
        <ul class="list">
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Service</a></li>
        </ul>
        <p class="copyright">Product Site © 2022</p>
    </footer>
</body>
</html>