<%- include('partials/header.ejs') -%>
<title>Home | Product Page</title>
<div class="main">
    <div class="big-title">
        <h1>Product Site</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis nisl non diam varius semper. Etiam auctor sagittis magna, vitae tincidunt nisl lacinia condimentum. Ut orci massa, facilisis vel tempor ac, bibendum quis nunc. Etiam quis ante nisl. Aliquam tincidunt ut neque nec iaculis. In rutrum justo et lacus placerat, a placerat felis posuere. Nulla consectetur neque in dolor mollis, vitae pellentesque turpis posuere. Duis sit amet purus et augue maximus dapibus. Nullam turpis magna, sollicitudin non vehicula a, tristique sit amet lacus. Praesent a convallis nisi. Mauris aliquet, purus eget commodo sodales, erat ex posuere sapien, ut auctor sem est quis justo. Etiam ac vulputate nisl. Quisque id nisi purus.</p>
        <a href="/products">Search Our Products <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div>
    <hr width="50%">
    <div class="title">
        <h2>HOLDER 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis nisl non diam varius semper. Etiam auctor sagittis magna, vitae tincidunt nisl lacinia condimentum. Ut orci massa, facilisis vel tempor ac, bibendum quis nunc. Etiam quis ante nisl. Aliquam tincidunt ut neque nec iaculis. In rutrum justo et lacus placerat, a placerat felis posuere. Nulla consectetur neque in dolor mollis, vitae pellentesque turpis posuere. Duis sit amet purus et augue maximus dapibus. Nullam turpis magna, sollicitudin non vehicula a, tristique sit amet lacus. Praesent a convallis nisi. Mauris aliquet, purus eget commodo sodales, erat ex posuere sapien, ut auctor sem est quis justo. Etiam ac vulputate nisl. Quisque id nisi purus.</p>
    </div>

    <div class="title">
        <h2>HOLDER 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis nisl non diam varius semper. Etiam auctor sagittis magna, vitae tincidunt nisl lacinia condimentum. Ut orci massa, facilisis vel tempor ac, bibendum quis nunc. Etiam quis ante nisl. Aliquam tincidunt ut neque nec iaculis. In rutrum justo et lacus placerat, a placerat felis posuere. Nulla consectetur neque in dolor mollis, vitae pellentesque turpis posuere. Duis sit amet purus et augue maximus dapibus. Nullam turpis magna, sollicitudin non vehicula a, tristique sit amet lacus. Praesent a convallis nisi. Mauris aliquet, purus eget commodo sodales, erat ex posuere sapien, ut auctor sem est quis justo. Etiam ac vulputate nisl. Quisque id nisi purus.</p>
    </div>

    <div class="title">
        <h2>HOLDER 3</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis nisl non diam varius semper. Etiam auctor sagittis magna, vitae tincidunt nisl lacinia condimentum. Ut orci massa, facilisis vel tempor ac, bibendum quis nunc. Etiam quis ante nisl. Aliquam tincidunt ut neque nec iaculis. In rutrum justo et lacus placerat, a placerat felis posuere. Nulla consectetur neque in dolor mollis, vitae pellentesque turpis posuere. Duis sit amet purus et augue maximus dapibus. Nullam turpis magna, sollicitudin non vehicula a, tristique sit amet lacus. Praesent a convallis nisi. Mauris aliquet, purus eget commodo sodales, erat ex posuere sapien, ut auctor sem est quis justo. Etiam ac vulputate nisl. Quisque id nisi purus.</p>
    </div>
</div>
<%- include('partials/footer.ejs') -%>